<div id="subscribe" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>Subscribe!</h1>
    <div>If you like the content you see here, please subscribe by entering your email address</div>
      <div>
        <input type="email" id="email_id" name="email_id"/><button class="pure-button-primary pure-button" id="subscribe">Submit</button>
      </div>
      <br/>
      <p>
        <strong>I promise not to spam you and you can always unsubscribe anytime!</strong>
      </p>
    </div>
</div>
