{{ $comments := readDir "data/comments" }}
{{ $entryId := .UniqueID }}
{{ $.Scratch.Set "counter" 0 }}

{{ range $comments }}
  {{ if eq .Name $entryId }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $commentCount := $.Scratch.Get "counter" }}


<div class="meta__item-datetime meta__item">
	<svg class="meta__icon icon icon-time" width="16" height="14" viewBox="0 0 439.3 529.7"><path d="M0 529.7l108.9-117.1h330.4V0H.7L0 529.7zM338.7 173c20.5 0 37.2 16.6 37.2 37.2 0 20.5-16.6 37.2-37.2 37.2s-37.2-16.6-37.2-37.2c.1-20.5 16.7-37.2 37.2-37.2zM220 173c20.5 0 37.2 16.6 37.2 37.2 0 20.5-16.6 37.2-37.2 37.2-20.5 0-37.2-16.6-37.2-37.2.1-20.5 16.7-37.2 37.2-37.2zm-118.7 0c20.5 0 37.2 16.6 37.2 37.2 0 20.5-16.6 37.2-37.2 37.2-20.5 0-37.2-16.6-37.2-37.2 0-20.5 16.7-37.2 37.2-37.2z"/></svg>
  {{ if eq $commentCount 1 }}
    <span class="meta__text">{{$.Scratch.Get "counter"}} comment </span>
  {{ else }}
    <span class="meta__text">{{$.Scratch.Get "counter"}} comments </span>
  {{ end }}
</div>
