<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{- .Site.Params.twitter.site -}}">
{{if .IsHome}}
  <meta name="twitter:title" content="{{- .Site.Params.twitter.title -}}">
  <meta name="twitter:description" content="{{- .Site.Params.twitter.description -}}">
  <meta name="twitter:image" content="{{- .Site.Params.twitter.image -}}">
{{ else }}
  <meta name="twitter:title" content="{{- .Params.title -}}">
  <meta name="twitter:description" content="{{- .Params.description -}}">
  <meta name="twitter:image" content="{{- .Params.thumbnail -}}">
{{ end }}
